html {
	font-size: 62.5%;
	/* -webkit-font-smoothing: antialiased; */
	box-sizing: border-box;
}

body {	
	font-family: Helvetica, 'Sans Serif', 'Helvetica Neue', Arial, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto';
	font-weight: 300;
	font-size: 15px;
	margin: 0;
}

.color {
	background-color: #e2a31a
}